.clear {
    clear:both;
}

h1 {
    font-family: 'amaticbold', serif;
    color: #ffff1a;
    font-size: 50px;
}

h2 {
    font-family: 'amaticbold', serif;
    color: #00e600;
    font-size: 30px;
}

body {
    background: url('/assets/nawlins_pattern.jpg');
    
    /* Verdana-based sans serif stack */
    font-family: 'caviar_dreamsregular';
}

p {
    color: #ffff1a;
}

.box {
    background-color: rgba(0,0,0,0.5);
    padding: 25px;
    width: 400px;
    margin: 15px auto;
    text-align: center;
}

.logo h2 {
    font-size: 36px;
    font-weight: bold;
    color: #ffff1a; 
}

.slogan, {
    font-family: 'caviar_dreamsbold', 'Verdana', sans-serif;
    font-size: 16px;
    padding-top: 20px;
    color: #ffff1a;
}

.slogan a {
    color: #df80ff;
    text-decoration: none;
}

.slogan a:hover {
    text-decoration: none;
    color: #00e600;
}

.navbar.navbar-inverse {
    border: none;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0;
    box-shadow: 0px 1px 3px #2a2a2a;
}

.container {
    color: #ffff1a;
    font-family: 'caviar_dreamsitalic', 'Verdana', sans-serif;
}

.container a {
    color: #df80ff;
    text-decoration: none;
}

.container a:hover {
    color: #00e600;
    text-decoration: none;
}

.btn-group {
    padding: 15px;
    float: right;
}

navbar-right {
    margin-right: 50px;
}