<div class="box">
    <h1>Love New Orleans! Here's the place to show it!</h1>
    
                <p>The crown jewel of the south and the birthplace of Jazz music, New Orleans is world-renowed for its lively culture, faboulous food, and the legendary night life. Let us know which restaurants or attractions you love the most. 
                </p>
</div>