<div class="box">
    <h1>Welcome to New Orleans!!! WHO DAT!!!</h1>
    <h2>The Big Easy!</h2>
                <p>The crown jewel of the south and the birthplace of Jazz music, New Orleans is world-renowed for its lively culture, faboulous food, and the legendary night life. 
                </p>
</div>